
{% if app.user %}
<nav class="d-flex-center p-3">
    <div class="p-5 pt-0 pb-0">{{ app.user.userName }}</div>

    <a class="m-1" href="{{ path('app_home') }}">Home</a> |
    <a class="m-1" href="{{ path('app_article') }}">Article</a>

    {% if(is_granted('ROLE_ADMIN')) %}
        |
        <a class="m-1" href="{{ path('app_admin_lead') }}">Leads</a>


    {% endif %}




    <a class="ml-auto d-flex" href="{{ path('app_logout') }}">Logout</a>
</nav>
{% else %}
    <nav>
        <ul>
            <li><a href="{{ path('app_login') }}">Login</a></li>
            <li><a href="{{ path('app_register') }}">Register</a></li>
        </ul>
    </nav>
{% endif %}