{% extends 'base.html.twig' %}
{% form_theme form 'bootstrap_5_layout.html.twig' %}

{% block title %} Article {% endblock %}



{% block body %}


    <div class="container">
        <div class="row p-5">
            <div>

                <h1 class="text-center">{{ article.title }}</h1>

                <div class="text-center">{{ article.author.userName }}</div>
            </div>
            <div class="col-12 pt-5">
                <div class="article-container">
                    {% if app.user == article.author or is_granted('ROLE_ADMIN') %}
                        <div class="text-end">
                            <a href="{{ path('app_article_delete', {'id' : article.id}) }}">Delete</a>
                        </div>
                    {% endif %}
                    <div class="mb-5">
                        {{ article.content }}
                    </div>

                    <div class="mt-5">
                        {{ form_start(form) }}
                        {{ form_row(form.content) }}
                        <button class="btn btn-primary" type="submit">Write Comment</button>
                        {{ form_end(form) }}
                    </div>
                    <div class="">
                        {% for comment in comments %}
                            <div class="mt-4 pb-3  border-bottom">
                                {{ comment.author.userName }}: <br>
                                {{ comment.content }} <br>
                                {{ comment.createdAt|date('Y-m-d H:i') }}

                                {% if( app.user == comment.author or is_granted('ROLE_ADMIN')) %}
                                    <div class="text-end">
                                        <a href="{{ path('app_comment_delete', {'id': comment.id}) }}">Delete</a>
                                    </div>
                                {% endif %}
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>

    </div>




{% endblock %}